//HEADER TEXT FOR THE SECOND HALF
.para_main_header{
	padding-top:$base-line-height*3;
}

//DISCUSS,DEVELOP AND DESIGN LINKS
.nav_list--article{
	padding:40px;
	color:#fff;
	display: inline-block;
	> a{
		@include font-size($kilo-size/1.3, $line-height:true);
		text-decoration: none;
		color:#fff;
		&:hover{
			color:$hover_link--main;
		}
	}
}

